# Backup files
*~
*.bak
*.swp
.Rhistory
*.vim
*.swo

# RStudio
.Rproj.user

# Data Files
.RData
.Ruserdata
*.[Rr][Dd][Ss]
*.[Rr][Dd][Aa]

# News/doc Files
NEWS
*.md
inst/doc

# Don't ignore
!R/sysdata.rda
