# Backup files
*~
*.bak
*.swp
.Rhistory
*.vim
*.swo

# RStudio
.Rproj.user

# Data Files
.RData
.Ruserdata
data/*
tmp
*.Rds

# News/doc Files
NEWS
*.md
inst/doc


# Don't ignore
!data/diseaseCodes.rda

